<ion-app>
  <ion-content>
    <div class="content" *ngIf="!isLoggedIn">
      <div style="height: 60%; width: 80%; margin: auto; text-align: center; padding-top: 5rem;">
        <img src="./../assets/img/celo-org.png" alt="">
        <h1 class="title"><ion-label style="color: rgb(255, 187, 0);">Celo</ion-label><ion-label style="color: rgb(20, 196, 20);">Remit</ion-label></h1>
        <ion-input type="search" placeholder="username (demo-no-validation)" style="border: 1px solid rgb(255, 187, 0);" [(ngModel)]="user"></ion-input>
      </div>
      <div>
        <div class="card-container">
          <button class="card card-small" (click)="login()">
            <ion-icon slot="start" name="log-in-outline" size="large"></ion-icon> Login
          </button>
        </div>
      </div>
    </div>
    <router-outlet *ngIf="isLoggedIn"></router-outlet>
  </ion-content>
</ion-app>



