<ion-header class="ion-no-border">
  <ion-toolbar style="text-align: center;">
    <ion-title style="color: #0047ab; font-weight: 600; font-family: monospace;">
      <ion-label style="color: rgb(255, 187, 0);">Celo</ion-label><ion-label style="color: rgb(20, 196, 20);">Remit</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <!-- FAB BUTTON TO DISPLAY USERS CONTACTS -->
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button color="medium">
      <ion-icon name="apps-outline" style="color: white;" size="medium"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color="medium" (click)="displayModal('contacts')">
        <ion-icon name="person-outline" style="color: white;" size="medium"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="medium" (click)="displayModal('transactions')">
        <ion-icon name="list-outline" style="color: white;" size="medium"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="medium" (click)="logout()">
        <ion-icon name="log-out-outline" style="color: white;" size="medium"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
  <ion-card class="glassCard" button (click)="updateBalance()">
    <ion-card-header>
      <ion-card-subtitle style="text-align: left; color: rgb(0, 0, 0);">Welcome {{username}}</ion-card-subtitle>
      <br>
      <ion-row>
        <ion-col size="6" style="text-align: center;">
          <ion-card-title style="color: rgb(0, 0, 0); font-size: medium;">Balance:</ion-card-title>
          <ion-card-subtitle style="font-size: small; color: rgb(0, 0, 0);"><ion-label>cUSD</ion-label> {{balance}}</ion-card-subtitle>
        </ion-col>
        <ion-col size="6" style="text-align: center;">
          <ion-card-title style="color: rgb(0, 0, 0); font-size: medium;">Available:</ion-card-title>
          <ion-card-subtitle style="color: rgb(0, 0, 0); font-size: small;"><ion-label>cUSD</ion-label> {{available}}</ion-card-subtitle>
        </ion-col>
        <ion-col size="6" style="text-align: center;">
          <ion-card-title style="color: rgb(0, 0, 0); font-size: medium;">Staked:</ion-card-title>
          <ion-card-subtitle style="color: rgb(0, 0, 0); font-size: small;"><ion-label>cUSD</ion-label> {{staked}}</ion-card-subtitle>
        </ion-col>
        <ion-col size="6" style="text-align: center;">
          <ion-card-title style="color: rgb(0, 0, 0); font-size: medium;">Outstanding:</ion-card-title>
          <ion-card-subtitle style="color: rgb(0, 0, 0); font-size: small;"><ion-label>cUSD</ion-label> {{outstanding}}</ion-card-subtitle>
        </ion-col>
        <ion-col size="6" style="text-align: center;">
          <ion-card-title style="color: rgb(0, 0, 0); font-size: medium;">Staked Earnings:</ion-card-title>
          <ion-card-subtitle style="color: rgb(0, 0, 0); font-size: small;"><ion-label></ion-label>cUSD 0</ion-card-subtitle>
        </ion-col>
        <ion-col size="6" style="text-align: center;">
          <ion-card-title style="color: rgb(0, 0, 0); font-size: medium;">Tree Points:</ion-card-title>
          <ion-card-subtitle style="color: rgb(0, 0, 0); font-size: small;"><ion-label></ion-label>{{tree_points}}</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <div style="text-align: center; font-weight: 600;">
    <ion-label>Transact</ion-label>
  </div>

  <ion-grid fixed class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col size="6" *ngFor="let col of cardRows" class="ion-no-padding">
        <ion-card button (click)="displayModal(col)" style="height: fit-content;" class="transactionsGlass">
          <ion-card-content style="text-align: center;">
            <div>
              <ion-icon slot="start" name="{{col.icon}}" size="large" style="color: black;"></ion-icon>
            </div>
            <ion-label style="color: black;">{{col.name}}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>  
    </ion-row>  
  </ion-grid>
  <br>
  <br>
</ion-content>

<style>
  ion-content.background{
    --background: url(../../assets/img/app_background.jpg) 0 0/100% 100% no-repeat;
  }
  .receipt{
    color: green;
  }
  .payment{
    color: red;
  }

  ion-button.border-width{
    --border-width: 3px;
  }

</style>

