<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar style="text-align: center;">
    <ion-icon name="chevron-down-outline" style="color: rgb(0, 0, 0);" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="text-align: center; font-weight: 800;">
    <ion-label>Send cUSD</ion-label>
  </div>
  <ion-card>
    <ion-card-content>
      <ion-input type="text" placeholder="Amount" [(ngModel)]="amount"></ion-input>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-input type="text" placeholder="Username" [(ngModel)]="jsonData.username"></ion-input>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="scanner()" expand="block" fill="clear" shape="round">
    <ion-label style="text-decoration: underline;">SCAN QR</ion-label>
  </ion-button>
  <br>
  <br>
  <br>
  <ion-button (click)="submitPayment()" expand="block" fill="solid" shape="round">
    Send Payment
  </ion-button>
</ion-content>