<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar style="text-align: center;">
    <ion-icon name="chevron-down-outline" style="color: rgb(0, 0, 0);" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>
  <br>
  <br>
  <div style="text-align: center; height: 100%; width: 100%;">
    <ion-card style="border: 1px solid rgba(0, 0, 137, 0.843);">
      <ion-card-header>
        <ion-card-subtitle style="font-weight: 700;">Allow sender to scan</ion-card-subtitle>
        <br>
        <ion-card-title>QR Code:</ion-card-title>
      </ion-card-header>
      <br>
      <ion-card-content>
        <ngx-qrcode
        [elementType]="elementType"
        [errorCorrectionLevel]="correctionLevel"
        [value]="value">
        </ngx-qrcode>
        <div>
          <label for="">Account: {{receiver}}</label><br>
          <label for="">User: {{username}}</label>
        </div>
      </ion-card-content>
    </ion-card> 
    <div>
      <ion-button (click)="back()" expand="block" fill="clear" shape="round">
        Back
      </ion-button>
    </div> 
  </div>
</ion-content>


